## Load data and Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('half_dataset.zip', index_col=0, header=[0, 1])
df.rename(
    columns={
        'Unnamed: 209_level_1': 'count',
        'Unnamed: 210_level_1': 'price',
    },
    level = 1,
    inplace = True
)
df.head()

    timestamp_second bid_price_0                                        \
  Unnamed: 0_level_1     nunique       mean   median       std     min
0                  0           7  44.183379  44.1865  0.007340  44.171
1                  1           1  44.190000  44.1900  0.000000  44.190
2                  2           3  44.187467  44.1860  0.001767  44.186
3                  3           3  44.181038  44.1860  0.006993  44.173
4                  4           2  44.213095  44.2190  0.012474  44.188

                          bid_quantity_0  ... sell_trade_quantity              \
      max   first    last        nunique  ...                 sum mean median
0  44.190  44.171  44.190              5  ...                 0.0  NaN    NaN
1  44.190  44.190  44.190              1  ...                 0.0  NaN    NaN
2  44.190  44.190  44.186              3  ...                 0.0  NaN    NaN
3  44.188  44.186  44.188              2  ...                 0.0  NaN    NaN
4  44.219  44.188  44.219              2  ...                 0.0  NaN    NaN

                                        count                    y
  std min max first last Unnamed: 207_level_1 Unnamed: 208_level_1
0 NaN NaN NaN   NaN  NaN                   66            -0.065894
1 NaN NaN NaN   NaN  NaN                   13            -0.066870
2 NaN NaN NaN   NaN  NaN                   15            -0.064833
3 NaN NaN NaN   NaN  NaN                   52            -0.040764
4 NaN NaN NaN   NaN  NaN                   21            -0.063813

[5 rows x 209 columns]

In [21]:
df = df.drop(columns=df.columns[0])

## EDA

In [22]:
df = df.dropna(axis=1)

In [23]:
df

       bid_price_0                                                      \
           nunique       mean   median     min     max   first    last
0                7  44.183379  44.1865  44.171  44.190  44.171  44.190
1                1  44.190000  44.1900  44.190  44.190  44.190  44.190
2                3  44.187467  44.1860  44.186  44.190  44.190  44.186
3                3  44.181038  44.1860  44.173  44.188  44.186  44.188
4                2  44.213095  44.2190  44.188  44.219  44.188  44.219
...            ...        ...      ...     ...     ...     ...     ...
805991           3  40.635062  40.6340  40.626  40.641  40.641  40.634
805992           2  40.634050  40.6340  40.634  40.635  40.634  40.635
805993           3  40.630763  40.6340  40.606  40.634  40.634  40.619
805994           1  40.619000  40.6190  40.619  40.619  40.619  40.619
805995           5  40.625260  40.6190  40.619  40.644  40.619  40.644

       bid_quantity_0                       ... buy_trade_price          \
              nunique      sum        mean  ...           count nunique
0                   5  25880.7  392.131818  ...               1       1
1                   1     76.7    5.900000  ...               0       0
2                   3    597.5   39.833333  ...               0       0
3                   2   2062.8   39.669231  ...               1       1
4                   2   6350.8  302.419048  ...               0       0
...               ...      ...         ...  ...             ...     ...
805991              3   5011.3   78.301563  ...               0       0
805992              2   1147.7   57.385000  ...               0       0
805993              2   3441.1   58.323729  ...               0       0
805994              1   4221.0   60.300000  ...               0       0
805995              5  11480.5  114.805000  ...               0       0

       buy_trade_quantity       sell_trade_price         sell_trade_quantity  \
                  nunique   sum            count nunique             nunique
0                       1  30.5                0       0                   0
1                       0   0.0                0       0                   0
2                       0   0.0                0       0                   0
3                       1  30.9                0       0                   0
4                       0   0.0                0       0                   0
...                   ...   ...              ...     ...                 ...
805991                  0   0.0                0       0                   0
805992                  0   0.0                0       0                   0
805993                  0   0.0                0       0                   0
805994                  0   0.0                0       0                   0
805995                  0   0.0                0       0                   0

                           count                    y
        sum Unnamed: 207_level_1 Unnamed: 208_level_1
0       0.0                   66            -0.065894
1       0.0                   13            -0.066870
2       0.0                   15            -0.064833
3       0.0                   52            -0.040764
4       0.0                   21            -0.063813
...     ...                  ...                  ...
805991  0.0                   64            -0.044820
805992  0.0                   20            -0.039675
805993  0.0                   59            -0.037508
805994  0.0                   70             0.001615
805995  0.0                  100             0.010475

[805996 rows x 160 columns]

## Support functions

## ML time

In [31]:
df['price'] = (df['bid_price_0']['mean'] + df['ask_price_0']['mean']) / 2
df['target'] = df['price'].shift(-60) - df['price']
df = df.dropna(axis=0)

C:\Users\artem\AppData\Local\Temp\ipykernel_17528\1537416915.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price'] = (df['bid_price_0']['mean'] + df['ask_price_0']['mean']) / 2
C:\Users\artem\AppData\Local\Temp\ipykernel_17528\1537416915.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['target'] = df['price'].shift(-60) - df['price']

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse

In [33]:
X = df.drop(columns=['target'])
y = df['target']

C:\Users\artem\AppData\Local\Temp\ipykernel_17528\516516637.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  X = df.drop(columns=['target'])

In [34]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [35]:
mse(model.predict(X), y)

0.00018188128378572986