## Load and imports

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('half_dataset.zip', header=[0, 1])

## Main task (2 models)

### Cross validation functions

In [5]:
def mae(y, predict):
    return np.mean(np.abs(y - predict), axis=None)

### Naive

Для начала поймем как берется y

In [13]:
df['price'] = (df['bid_price_0']['mean'] + df['ask_price_0']['mean']) / 2
df['try_y'] = df['price'].shift(-60) - df['price']

In [14]:
df

       Unnamed: 0_level_0   timestamp_second bid_price_0                      \
       Unnamed: 0_level_1 Unnamed: 0_level_1     nunique       mean   median
0                       0                  0           7  44.183379  44.1865
1                       1                  1           1  44.190000  44.1900
2                       2                  2           3  44.187467  44.1860
3                       3                  3           3  44.181038  44.1860
4                       4                  4           2  44.213095  44.2190
...                   ...                ...         ...        ...      ...
805991             805991             805991           3  40.635062  40.6340
805992             805992             805992           2  40.634050  40.6340
805993             805993             805993           3  40.630763  40.6340
805994             805994             805994           1  40.619000  40.6190
805995             805995             805995           5  40.625260  40.6190

                                                  ... sell_trade_quantity      \
             std     min     max   first    last  ...              median std
0       0.007340  44.171  44.190  44.171  44.190  ...                 NaN NaN
1       0.000000  44.190  44.190  44.190  44.190  ...                 NaN NaN
2       0.001767  44.186  44.190  44.190  44.186  ...                 NaN NaN
3       0.006993  44.173  44.188  44.186  44.188  ...                 NaN NaN
4       0.012474  44.188  44.219  44.188  44.219  ...                 NaN NaN
...          ...     ...     ...     ...     ...  ...                 ...  ..
805991  0.004853  40.626  40.641  40.641  40.634  ...                 NaN NaN
805992  0.000224  40.634  40.635  40.634  40.635  ...                 NaN NaN
805993  0.007162  40.606  40.634  40.634  40.619  ...                 NaN NaN
805994  0.000000  40.619  40.619  40.619  40.619  ...                 NaN NaN
805995  0.008114  40.619  40.644  40.619  40.644  ...                 NaN NaN

                                         count                    y     try_y  \
       min max first last Unnamed: 207_level_1 Unnamed: 208_level_1
0      NaN NaN   NaN  NaN                   66            -0.065894 -0.065894
1      NaN NaN   NaN  NaN                   13            -0.066870 -0.066870
2      NaN NaN   NaN  NaN                   15            -0.064833 -0.064833
3      NaN NaN   NaN  NaN                   52            -0.040764 -0.040764
4      NaN NaN   NaN  NaN                   21            -0.063813 -0.063813
...     ..  ..   ...  ...                  ...                  ...       ...
805991 NaN NaN   NaN  NaN                   64            -0.044820       NaN
805992 NaN NaN   NaN  NaN                   20            -0.039675       NaN
805993 NaN NaN   NaN  NaN                   59            -0.037508       NaN
805994 NaN NaN   NaN  NaN                   70             0.001615       NaN
805995 NaN NaN   NaN  NaN                  100             0.010475       NaN

            price

0       44.217394
1       44.219500
2       44.218233
3       44.205875
4       44.229452
...           ...
805991  40.666320
805992  40.661025
805993  40.657390
805994  40.642871
805995  40.655025

[805996 rows x 212 columns]

Сегодня будет как вчера
Иными словами мы ожидаем, что цена через 60 секунд будет такой же, как сейчас (y = 0).

In [15]:
mae(0, df['y'])

C:\Users\artem\anaconda3\envs\workspace\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

Unnamed: 208_level_1    0.05145
dtype: float64

### Mean

Цена через 60 тиков равна средней цене за прошедшие x тиков.

In [20]:
x = 60
df['rolling_price'] = df['price'].rolling(x).mean()

In [21]:
df['pred'] = df['rolling_price'] - df['price']

In [26]:
df = df[60:]

In [33]:
mae(np.array(df['pred']).reshape(-1, 1), np.array(df['y']))

0.059987265533507445

В целом - две юзлесс стратегии, первая дала результат чуть лучше, но на погрешность.